@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html { scroll-behavior: smooth; }
  body { @apply bg-beige text-negro font-sans; }
  h1 { @apply text-4xl md:text-5xl font-bold leading-tight; }
  h2 { @apply text-3xl md:text-4xl font-semibold; }
  h3 { @apply text-2xl font-semibold; }
  p, label, input, select, textarea { @apply font-mono text-[16px] leading-7; }
  a:focus, button:focus, input:focus { @apply outline-2 outline-offset-2 outline-azul; }
}

@layer components{
  .btn-primary   { @apply inline-flex items-center justify-center px-5 py-3 rounded-xl bg-azul text-white font-semibold hover:opacity-90 focus:ring-2 focus:ring-azul; }
  .btn-secondary { @apply inline-flex items-center justify-center px-5 py-3 rounded-xl bg-rojo text-white font-semibold hover:opacity-90 focus:ring-2 focus:ring-rojo; }
  .card          { @apply bg-beige2 rounded-card shadow-sm p-6; }
}